.hide-hover {
  opacity:1;
  transition:0.5s;
}
.hide-hover:hover {
  opacity:0;
}

.show-hover {
  opacity:0;
  transition:0.5s;
}
.show-hover:hover {
  opacity:1;
}

div#title{
  text-align: center;
  font-size: 80px;
  font-weight: bolder;
  padding: 40px;
}

div#author {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding: 10px;
}

div#organization {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

div#email {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
